
* {
  margin: 0;
  padding: 0;
}

body, p, ul, ol {
  color: #1e1e1e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #1b4177;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 7px;
}

ul, ol {
  list-style-position: inside;
  margin-left: 20px;
}

li {
  margin-top: 10px;
}

hr {
  padding-top: 20px;
  border: none;
  border-bottom: 1px dotted #cecece;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

#header {
  color: white;
  background-color: #34332f;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 3px 1px rgba( 0, 0, 0, 0.25 );
}

#header * {
  color: white;
  font-size: 16px;
}

#header h1 {
  display: inline-block;
  float: left;
}

#header h1 a {
  font-size: 22px;
  font-weight: normal;
}

#header div.menu {
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
}

#header div.menu a {
  margin-left: 12px;
}

#header div.menu a.active {
  background-image: url("/jshint-eclipse/images/selection.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}

#main {
  padding-top: 25px;
}

#footer {
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
}

#footer * {
  font-size: 12px;
}

img.shadow {
  box-shadow: 2px 2px 6px rgba( 0, 0, 0, 0.25 );
}

div.center {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

p.headline {
  font-size: 22px;
  padding: 20px 35px;
}

div.columns {
  margin-left: -17px;
  margin-right: -17px;
}

div.third {
  float: left;
  width: 244px;
  padding-left: 17px;
  padding-right: 17px;
}

div.block:first-child {
  margin-left: 0;
}

div.clear {
  clear: both;
}

