
* {
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1b4177;
}

ul, ol {
  list-style-position: inside;
  margin-left: 20px;
}

img.shadow {
  box-shadow: 2px 2px 6px #CECECE;
}

#header {
  color: white;
  background-color: #515f55;
  padding-top: 5px;
  padding-bottom: 5px;
}

#header * {
  color: white;
  font-size: 18px;
}

#header h1 {
  display: inline-block;
}

#header h1 a {
  font-size: 24px;
}

#header div.menu {
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
}

#header div.menu a {
  margin-left: 12px;
}

#main {
  padding-top: 25px;
}

#footer {
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 12px;
}

div.center {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
