<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="com.eclipsesource.jshint.ui.properties.projectPropertyPage"
            class="com.eclipsesource.jshint.ui.internal.preferences.ui.ProjectPropertyPage"
            name="JSHint">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            id="com.eclipsesource.jshint.ui.properties.configPropertyPage"
            category="com.eclipsesource.jshint.ui.properties.projectPropertyPage"
            class="com.eclipsesource.jshint.ui.internal.preferences.ui.ConfigPropertyPage"
            name="Configuration">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.eclipsesource.jshint.ui.mainPreferencePage"
            class="com.eclipsesource.jshint.ui.internal.preferences.ui.JSHintPreferencePage"
            name="JSHint">
      </page>
      <page
            id="com.eclipsesource.jshint.ui.configPreferencePage"
            category="com.eclipsesource.jshint.ui.mainPreferencePage"
            class="com.eclipsesource.jshint.ui.internal.preferences.ui.ConfigPreferencePage"
            name="Configuration">
      </page>
   </extension>
   <extension
         id="builder"
         name="JSHint Problem Checker"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="com.eclipsesource.jshint.ui.internal.builder.JSHintBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="JSHint Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>

</plugin>
