<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="com.eclipsesource.jshint.properties.projectPropertyPage"
            class="com.eclipsesource.jshint.properties.ProjectPropertyPage"
            name="JSHint">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            id="com.eclipsesource.jshint.properties.filePropertyPage"
            class="com.eclipsesource.jshint.properties.FileAndFolderPropertyPage"
            name="JSHint"
            nameFilter="*.js">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
      <page
            id="com.eclipsesource.jshint.properties.folderPropertyPage"
            class="com.eclipsesource.jshint.properties.FileAndFolderPropertyPage"
            name="JSHint">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="builder"
         name="builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="com.eclipsesource.jshint.builder.JSHintBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="JSHint Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>

</plugin>
