<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" media="screen" />
  <link rel="shorcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
</head>
<body>

  <div id="header">
    <div class="center">
      <h1><a href="{{ site.baseurl }}/"{% if page.name == 'index' %} class="active"{% endif %}>jshint-eclipse</a></h1>
      <div class="menu">
        <a href="{{ site.baseurl }}/about.html"{% if page.name == 'about' %} class="active"{% endif %}>about</a>
        <a href="{{ site.baseurl }}/install.html"{% if page.name == 'install' %} class="active"{% endif %}>install</a>
        <a href="{{ site.baseurl }}/history.html"{% if page.name == 'history' %} class="active"{% endif %}>history</a>
        <a href="https://github.com/eclipsesource/jshint-eclipse/issues">issues</a>
        <a href="https://github.com/eclipsesource/jshint-eclipse">source</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div id="main">
    <div id="content" class="center">
      {{ content }}
    </div>
  </div>

  <div id="footer">
    <div class="center">
      <hr/>
      <p>
        Maintained by
        <a href="http://eclipsesource.com/blogs/author/rsternberg/">Ralf Sternberg</a>,
        <a href="http://eclipsesource.com/">EclipseSource</a>.
        <br/>
        The content of this site is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC-BY license</a>.
      </p>
    </div>
  </div>
</body>
</html>

